Django==4.2.16
dj-database-url==2.1.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
whitenoise==6.6.0
django-storages[s3]==1.14.2
boto3==1.35.99
Pillow==11.2.1
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
django-extensions==3.2.3
python-dotenv==1.0.0
reportlab==4.2.5
sentry-sdk[django]==2.19.2
